<h1>Editar Dados do Paciente</h1>

<div>
  <%= render "form", paciente: @paciente %>
  <%= link_to "Exibir este paciente", @paciente %>
  <%= link_to "Voltar para pacientes", pacientes_path %>
</div>
