<h1>Editing prescricao</h1>

<%= render "form", prescricao: @prescricao %>

<br>

<div>
  <%= link_to "Show this prescricao", @prescricao %> |
  <%= link_to "Back to prescricaos", prescricaos_path %>
</div>
