<p style="color: green"><%= notice %></p>

<h1>Prescricaos</h1>

<div id="prescricaos">
  <% @prescricaos.each do |prescricao| %>
    <%= render prescricao %>
    <p>
      <%= link_to "Show this prescricao", prescricao %>
    </p>
  <% end %>
</div>

<%= link_to "New prescricao", new_prescricao_path %>
