<h1>Editar prescricao</h1>

<%= render "form", prescricao: @prescricao %>

<br>

<div>
  <%= link_to "Mostrar essa prescrição", @prescricao %> |
  <%= link_to "Voltar para prescrições", prescricaos_path %>
</div>
