<div id="<%= dom_id prontuario %>">
  <p>
    <strong>Data da Criação:</strong>
    <%= prontuario.datacriacao %>
  </p>

  <p>
    <strong>Código Prontuário:</strong>
    <%= prontuario.codigo %>
  </p>

  <p>
    <strong>Histórico Paciente:</strong>
    <%= prontuario.historico %>
  </p>
</div>
