<div id="<%= dom_id prontuario %>">
  <p>
    <strong>Datacriacao:</strong>
    <%= prontuario.dataCriacao %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= prontuario.codigo %>
  </p>

  <p>
    <strong>Historico:</strong>
    <%= prontuario.historico %>
  </p>

</div>
