<h1>Editar Prontuário</h1>

<%= render "form", prontuario: @prontuario %>

<br>

<div class: "links">
  <%= link_to "Mostrar esse prontuário", paciente_prontuario_path(@prontuario.paciente, @prontuario), class: "btn" %>
  <%= link_to "Voltar para prontuários", paciente_prontuarios_path, class: "btn" %>
</div>
