<h1>Editing prontuario</h1>

<%= render "form", prontuario: @prontuario %>

<br>

<div>
  <%= link_to "Show this prontuario", @prontuario %> |
  <%= link_to "Back to prontuarios", prontuarios_path %>
</div>
