<h1>Editing prontuario</h1>

<%= render "form", prontuario: @prontuario %>

<br>

<div>
  <%= link_to "Mostrar esse prontuário", @prontuario %> |
  <%= link_to "Voltar para prontuários", prontuarios_path %>
</div>
