<p style="color: green"><%= notice %></p>

<%= render @prontuario %>

<div class="links">
  <%= link_to "Editar esse prontuário", edit_paciente_prontuario_path(@prontuario) %> |
  <%= link_to "Voltar para prontuarios", paciente_prontuarios_path %>
</div>
