<h1>Editar Médico: </h1>

<div>
  <%= render "form", medico: @medico %>

  <div class: "links">
    <%= link_to "Exibir este Médico", @medico, class: "btn" %>
    <%= link_to "Voltar para Médicos", medicos_path, class: "btn" %>
 </div>
</div>